@charset "utf-8";

/*reset*/
p, h1, h4, form, button{
	border: 0;
	margin: 0;
	padding: 0;
}

.divisor{
	clear: both;
}
/* MENU PRINCIPAL */
#menu{
	text-align: center;
	/*width: 574px;*/
	width: 600px;
	position: relative;
	margin: 0 auto;
	padding-bottom: 15px;
	
}
#menu li{
	padding-left: 10px;
	padding-top: 4px;
	padding-right: 10px;
	margin-right: 5px;
	list-style: none;
	float: left;
	display: block;
	border-left: solid;
	border-left-color: #b7ddf2;
	border-left-width: 4px;
}

#menu li:hover{
	background-color: #EBFBFC;
}

/* CONTENIDO PRINCIPAL */
#contenido{
	width: 100%;
	height: auto;
	border:solid 2px #b7ddf2;
	background:#ebf4fb;
}

#contenido h1{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 18px;
	font-weight:lighter;
}

#contenido h2{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 16px;
	font-weight: normal;
}

#contenido h4{
	font-family: Verdana, Geneva, sans-serif;
	font-size: 13px;
	font-weight: lighter;
	font-style: italic;
	color: #FF4C4C;
}

#inicio {
	position: relative;
	padding: 30px 0;
	/*width: 574px;*/
	width: 600px;
	margin: 0 auto;
}

/* Botones INICIO */

.ticket_boton{
	float: left;
	width: 120px; /* + padding left = 120px*/
	height: 27px; /* + padding top = 33px*/
	margin-left: 10px;
	
	padding-top: 6px;
	padding-left: 6px;
	cursor: default;
	
	font-family:Verdana;
	font-size:13px;
	font-weight:bold;
	font-style:italic;
	text-decoration:none;
	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
}

.numero {
	padding-left: 2px;
	font-size: 1.5em;
}

.crear {
	-moz-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	-webkit-box-shadow:inset 0px 1px 0px 0px #cae3fc;
	box-shadow:inset 0px 1px 0px 0px #cae3fc;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #4197ee) );
	background:-moz-linear-gradient( center top, #79bbff 5%, #4197ee 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#4197ee');
	background-color:#79bbff;
	border:1px solid #469df5;
	display:inline-block;
	color:#ffffff;
}
.crear:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #4197ee), color-stop(1, #79bbff) );
	background:-moz-linear-gradient( center top, #4197ee 5%, #79bbff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4197ee', endColorstr='#79bbff');
	background-color:#4197ee;
}
.crear:active {
	position:relative;
	top:1px;
}
.abiertos {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
	background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
	background-color:#ffec64;
	border:1px solid #ffaa22;
	display:inline-block;
	color:#333333;
}
.abiertos:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) );
	background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
	background-color:#ffab23;
}
.abiertos:active {
	position:relative;
	top:1px;
}

.resueltos {
	-moz-box-shadow:inset 0px 1px 0px 0px #a4e271;
	-webkit-box-shadow:inset 0px 1px 0px 0px #a4e271;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #89c403), color-stop(1, #77a809) );
	background:-moz-linear-gradient( center top, #89c403 5%, #77a809 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#89c403', endColorstr='#77a809');
	background-color:#89c403;
	border:1px solid #74b807;
	display:inline-block;
	color:#ffffff;
}
.resueltos:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77a809), color-stop(1, #89c403) );
	background:-moz-linear-gradient( center top, #77a809 5%, #89c403 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77a809', endColorstr='#89c403');
	background-color:#77a809;
}
.resueltos:active {
	position:relative;
	top:1px;
}

.cancelados {
	-moz-box-shadow:inset 0px 1px 0px 0px #fab3ad;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fab3ad;
	box-shadow:inset 0px 1px 0px 0px #fab3ad;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fa665a), color-stop(1, #d34639) );
	background:-moz-linear-gradient( center top, #fa665a 5%, #d34639 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa665a', endColorstr='#d34639');
	background-color:#fa665a;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
}
.cancelados:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d34639), color-stop(1, #fa665a) );
	background:-moz-linear-gradient( center top, #d34639 5%, #fa665a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d34639', endColorstr='#fa665a');
	background-color:#d34639;
}
.cancelados:active {
	position:relative;
	top:1px;
}
/* This imageless css button was generated by CSSButtonGenerator.com */

/* ////////////// */


body{
	font-family:”Lucida Grande”, “Lucida Sans Unicode”, Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}

#login {
	/* POSICION */
	margin:0 auto;
	width:400px;
	padding:14px;
	
	/*COLORES*/
	border:solid 2px #b7ddf2;
	background:#ebf4fb;
}

#login h1 {
	font-size:14px;
	font-weight:bold;
	margin-bottom:8px;
}

#login p{
	font-size:11px;
	color:#666666;
	margin-bottom:20px;
	border-bottom:solid 1px #b7ddf2;
	padding-bottom:10px;
}

#login label{
	display:block;
	font-weight:bold;
	text-align:right;
	width:120px;
	float:left;
}

#login .small{
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:120px;
}

#login input{
	float: left;
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	width: 200px;
	margin: 2px 0 20px 10px;
}

#login .boton{
	clear:both;
	margin-left: 150px;
	width:125px;
	height:31px;
	background:#666666 url(img/button.png) no-repeat;
	text-align:center;
	line-height:31px;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
}
#login .clear{
	clear: both;
}

/* //////// INFO BOX /////////////*/

.info, .success, .warning, .error, .validation {
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url(../images/info.png);
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('success.png');
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('warning.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('error.png');
}

/* ///////////////////////////// */

.par{
	background-color: #b7ddf2;
}

/* ///// DETALLES TICKET //////////// */

#detalles_ticket, #historial{
	width: 100%;}
	
#detalles_ticket h3,h4{
	float: left;
	margin: 0px;
}

#detalles_ticket h4{
	font-size: 16px;
	padding-left: 20px;
}

#historial div, #detalles_ticket div{
	float: left;
	display: block;
	border-bottom: #b7ddf2 2px solid;
	margin-bottom: 4px;
}

#detalles_ticket p{
	margin: 10px;
}

.etiqueta{
	background-color: #b7ddf2;
	color: #FFF;
	padding-left: 10px;
	padding-bottom: 2px;
	font-weight:bold;
	}

.info_dato{
	text-align:center;
	background-color: #FFF;
	font-size: 14px;
	}

.completo{
	width: 600px; /* considerar BORDER */
}
.mitad{
	width: 295px;
}
.cuarto{
	width: 145px;
}


/* ///////////////////////////// */
#crear_usuario {
	/* POSICION */
	margin:0 auto;
	width:400px;
	padding:14px;
	
	/*COLORES*/
	border:solid 2px #b7ddf2;
	background:#ebf4fb;
}

#crear_usuario h1 {
	font-size:14px;
	font-weight:bold;
	margin-bottom:8px;
}

#crear_usuario p{
	font-size:11px;
	color:#666666;
	margin-bottom:20px;
	border-bottom:solid 1px #b7ddf2;
	padding-bottom:10px;
}

#crear_usuario label{
	display:block;
	font-weight:bold;
	text-align:right;
	width:120px;
	float:left;
}

#crear_usuario .small{
	color:#666666;
	display:block;
	font-size:11px;
	font-weight:normal;
	text-align:right;
	width:120px;
}

#crear_usuario input, select{
	float: left;
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px;
	border-color: #aacfe4;;
	width: 200px;
	margin: 2px 0 20px 10px;
}

#crear_usuario .boton{
	clear:both;
	margin-left: 150px;
	width:125px;
	height:31px;
	background:#666666 url(img/button.png) no-repeat;
	text-align:center;
	line-height:31px;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
}
#crear_usuario .clear{
	clear: both;
}
#crear_usuario input.error,select.error{
	border: solid 1px;
	border-color: #F00F00;
}

#crear_usuario input.valid,select.valid{
	border: solid 1px;
	border-color: #0C6;
}

/* FORMATO DE ERROR PARA FORMULARIO */
div.error{
	color: #F00;
}
